<template>
  <div>
    <div class="" v-if="products.length > 0"></div>
    <div class="container justify-center card inline-block">
      <div class="text-center"><h2>Cart</h2></div>
      <div v-if="products.length > 0">
        <table>
          <tr>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
          <tr class="" :key="index" v-for="(product, index) in products">
            <td>
              <img
                height="60"
                width="50"
                :alt="product.name"
                :src="product.image"
              />
            </td>
            <td>
              <div class="mx-5">{{ product.name }}</div>
            </td>
            <td>
              <div class="mx-5">
                <AddCart :product="product" />
              </div>
            </td>
            <td>
              <div class="mx-5">Rs.{{ product.quantity * product.price }}</div>
            </td>
          </tr>
        </table>
        <hr />
        <div class="text-right mx-5">
          Total Quantity : <b>{{ totalQuantity }}</b> Total Amount :
          <b>Rs. {{ totalPrice }}</b>
        </div>
        <div class="m-2">
          <button
            class="btn btn-success mt-2 r-2 mx-5"
            @click="$router.push('/')"
          >
            Go Back
          </button>
          <button
            class="btn mt-2 btn-warning r-2"
            @click="
              $router.push({
                name: 'checkout',
                params: {
                  totalPrice: totalPrice,
                  totalQuantity: totalQuantity,
                },
              })
            "
          >
            Checkout
          </button>
        </div>
      </div>
      <div v-else>
        <img
          height="400"
          width="400"
          alt="Empty Cart"
          src="./../assets/empty.jpg"
        />
        <h3>It's empty here!</h3>
        <div class="">
          <button class="btn btn-success mt-2 r-2" @click="$router.push('/')">
            Shop Now!
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import AddCart from "@/components/AddCart.vue";

export default {
  components: {
    AddCart,
  },
  computed: {
    ...mapState(["cart_products"]),
    products() {
      return this.cart_products.filter((n) => n);
    },
  },
  mounted() {
    this.calculateTotal();
  },
  data() {
    return {
      totalPrice: 0.0,
      totalQuantity: 0,
    };
  },
  methods: {
    calculateTotal() {
      this.totalQuantity = 0;
      this.totalPrice = 0.0;
      let cart_products = this.products;
      let inst = this;
      cart_products.reduce(function (cart_products, cp) {
        return (inst.totalQuantity = inst.totalQuantity + cp.quantity);
      }, []);
      cart_products.reduce(function (cart_products, cp) {
        return (inst.totalPrice = inst.totalPrice + cp.quantity * cp.price);
      }, []);
    },
  },
};
</script>
<style scoped>
.inline-block {
  display: inline-block;
}
.inline-flex {
  display: inline-flex;
}
.justify-center {
  justify-content: center;
}
.mx-5 {
  margin: 0px 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>