<template>
  <div class="container card m-auto w-30 mtr-2">
    <div class="m-2" v-if="$route.params.totalPrice">
      <h2 class="">Checkout</h2>
      <FormulateForm
        name="product-add"
        v-model="formData"
        @submit="checkout"
        class="text-left"
      >
        <div>
          <FormulateInput
            type="text"
            name="name"
            validation="bail|required|min:3"
            label="Receiver Name"
            error-behavior="blur"
          />
        </div>
        <div>
          <FormulateInput
            type="tel"
            name="mobile"
            validation="bail|required|number"
            label="Mobile"
            error-behavior="value"
          />
        </div>
        <div>
          <FormulateInput
            type="email"
            name="email"
            validation="bail|required|email"
            label="Email"
            error-behavior="value"
          />
        </div>
        <div>
          <FormulateInput
            type="textarea"
            name="shipping_address"
            validation-name="Shipping Address"
            validation="bail|required|min:20|max:250"
            label="Shipping Address"
            error-behavior="value"
          />
        </div>
        <div>
          <FormulateInput
            type="text"
            name="total_quantity"
            validation="required"
            disabled
            :value="$route.params.totalQuantity"
            validation-name="Total Quantity"
            label="Total Quantity"
          />
        </div>
        <div>
          <FormulateInput
            type="text"
            name="total_amount"
            validation="required"
            disabled
            :value="$route.params.totalPrice"
            help="*inclusive taxes"
            label="Total Amount"
          />
        </div>
        <FormulateInput
          type="button"
          label="Confirm Order"
          class="mtr-2"
          @click="$router.push('/cart')"
        />
      </FormulateForm>
      <code>{{ formData }}</code>
    </div>
    <div v-else>
      <img
        height="400"
        width="400"
        alt="Empty Cart"
        src="./../assets/empty.jpg"
      />
      <h3>It's empty here!</h3>
      <div class="">
        <button class="btn btn-warning mt-2 r-2" @click="$router.push('/cart')">
          Back to Cart
        </button>
      </div>
    </div>
  </div>
</template>
<style>
@import "https://cdn.jsdelivr.net/npm/@braid/vue-formulate@2.5.2/dist/snow.css";
.formulate-input {
  margin-bottom: 0.5rem !important;
}
.formulate-input .formulate-input-element {
  max-width: 100% !important;
}
.m-auto {
  margin: auto;
}
.w-50 {
  width: 50%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.mtr-2 {
  margin-top: 2rem !important;
}
</style>
<script>
export default {
  data() {
    return {
      formData: {},
    };
  },
  methods: {
    checkout() {},
  },
};
</script>