<template>
  <div>
    <div class="home" v-if="products.length > 0">
      <!-- <AddProduct /> -->
      <div :key="product.id" v-for="product in products">
        <Product :product="product" />
      </div>
    </div>
    <div v-else>
      <img
        height="400"
        width="400"
        alt="Empty Cart"
        src="./../assets/empty.jpg"
      />
      <h3>Sorry! No products found.</h3>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Product from "@/components/Product.vue";

export default {
  name: "Home",
  components: {
    Product,
  },
  computed: {
    ...mapState(["products"]),
  },
};
</script>
