<template>
  <div>
    <div v-if="0 == productCount">
      <button
        class="btn btn-success r-2"
        @click="updateCart({ product: product, type: 'add', quantity: 1 })"
      >
        Add to Cart
      </button>
    </div>
    <div class="btn-group" v-else>
      <button
        class="btn btn-success r-2"
        @click="updateCart({ product: product, type: 'add', quantity: 1 })"
      >
        +
      </button>
      <button>{{ productCount }}</button>
      <button
        class="btn btn-danger r-2"
        @click="updateCart({ product: product, type: 'remove', quantity: 1 })"
      >
        -
      </button>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import { mapMutations } from "vuex";
export default {
  props: {
    product: {
      type: Object,
      default() {
        return {
          id: 0,
          name: "",
          price: 0,
          image: "",
          category: "",
          subcategory: "",
          keywords: "",
        };
      },
    },
  },
  computed: {
    ...mapState(["cart_products"]),
    productCount() {
      if (
        this.cart_products &&
        undefined != this.cart_products[this.product.id]
      ) {
        return this.cart_products[this.product.id].quantity;
      }
      return 0;
    },
  },
  methods: {
    ...mapMutations(["updateCart"]),
  },
  data() {
    return {};
  },
};
</script>