<template>
  <div class="container m-2">
    <div class="text-left">
      <button class="btn btn-success mt-2 r-2" @click="$router.push('/')">
        Go Back
      </button>
    </div>
    <div class="mt-2 home container">
      <img
        height="300"
        width="250"
        :alt="product.name"
        :src="product.image"
        class="mt-2"
      />
      <div class="p-detail-container">
        <div class="">
          <h3>{{ product.name }}</h3>
        </div>
        <div class="">{{ product.description }}</div>
        <div class="d-flex">
          <div class="text-left">Rs.{{ product.price }}</div>
          <div class="text-right">
            <AddCart :product="product" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import AddCart from "@/components/AddCart.vue";

export default {
  components: {
    AddCart,
  },
  computed: {
    ...mapState(["products"]),
  },
  data() {
    return {
      product: {},
    };
  },
  mounted() {
    let inst = this;
    this.product = this.products.find(function (p) {
      return p.id == inst.$route.params.id;
    });
  },
};
</script>