<template>
  <div class="card">
    <img
      height="300"
      width="250"
      :alt="product.name"
      :src="product.image"
      @click="$router.push('/product/' + product.id)"
      class="pointer"
    />
    <div class="p-detail-container">
      <div class="">{{ product.name }}</div>
      <div class="d-flex">
        <div class="text-left">Rs.{{ product.price }}</div>
        <div class="text-right">
          <AddCart :product="product" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import AddCart from "@/components/AddCart.vue";

export default {
  components: {
    AddCart,
  },
  props: {
    product: {
      type: Object,
      default() {
        return {
          id: 0,
          name: "",
          price: 0,
          image: "",
          category: "",
          subcategory: "",
          keywords: "",
        };
      },
    },
  },
  data() {
    return {};
  },
  computed: {
    ...mapState(["carts_products"]),
  },
};
</script>
<style scoped>
</style>