#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 10px 0px;
    background-color: cadetblue;
    color: white;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: white;
}

.home {
    justify-content: center;
    padding: 2px 16px;
    display: flex;
    flex-wrap: wrap;
}

.w-600 {
    font-weight: 600;
}

.mt-2 {
    margin-top: 2px;
}

.mr-2 {
    margin-right: 2px;
}

.cart {
    background-color: #fdcf04 !important;
    color: black !important;
    padding: 4px !important;
}

.text-left {
    text-align: start;
}

.text-right {
    text-align: end;
}

.text-center {
    text-align: center;
}

.container {
    padding: 5px 10px 5px 10px;
}

.btn {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-success {
    border: 2px solid green;
    color: green;
}

.btn-success:hover {
    background-color: green;
    color: white;
}

.btn-danger {
    border: 2px solid red;
    color: red;
}

.btn-danger:hover {
    background-color: red;
    color: white;
}

.btn-warning {
    border: 2px solid #ffe81e;
    color: #ffe81e;
}

.btn-warning:hover {
    background-color: #ffe81e;
    color: black;
}

.bg-success {
    background-color: green;
}

.bg-warning {
    background-color: #fdcf04;
}

.r-2 {
    border-radius: 2px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: fit-content;
    margin: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.p-detail-container {
    padding: 8px 16px 8px 16px;
    height: 75px;
}

.cart-count {
    position: absolute;
    right: 9px;
    top: 10px;
    min-width: 10px;
    min-height: 10px;
    line-height: 10px;
    padding: 5px;
    color: black;
    background-color: white;
    font-size: 10px;
    border-radius: 20px;
    border: solid 1px black;
}

.btn-group button {
    border: 1px solid grey;
    padding: 5px 10px; /* Some padding */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.m-2 {
    margin: 2rem;
}

.pointer {
    cursor: pointer;
}
