<template>
  <div id="app">
    <div id="nav" class="d-flex">
      <div class="container text-left">
        <div class="w-600">Products</div>
      </div>
      <div class="container text-right mr-2" v-if="0 != count">
        <button
          class="cart d-flex btn btn-warning r-2"
          @click="$router.push('/cart')"
        >
          <div class="mt-2 mr-2">View Cart</div>
          <img
            class="bg-warning"
            width="20"
            height="20"
            src="https://www.freeiconspng.com/thumbs/cart-icon/basket-cart-icon-27.png"
          />
          <span class="cart-count">{{ count }}</span>
        </button>
      </div>
      <!-- <router-link to="/">Home</router-link> |
      <router-link to="/terms">Terms and Conditions</router-link> -->
    </div>
    <router-view />
  </div>
</template>
<script>
import { mapState } from "vuex";
import productsList from "./../products.json";

export default {
  data() {
    return {};
  },
  computed: {
    ...mapState(["count"]),
  },

  mounted() {
    this.$store.commit("products", productsList);
  },
};
</script>
<style>
@import "./assets/style.css";
</style>
